<!DOCTYPE html>
<html>
<head>
	<title>Overview</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% url 'main' %}">
<link rel="stylesheet" href="{% url 'font' %}">
<link rel="stylesheet" href="{% url 'second' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
	html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
	</style>
</head>
<body class="w3-light-grey ">
<!-- Top container -->
<div class="w3-bar w3-black w3-large" style="z-index: -1">
  <span class="w3-bar-item w3-right">Dr. Tech </span>

</div><br><br>
<!-- Sidebar/menu -->
  <div class="w3-container w3-border  w3-row" style="z-index:4">
    <div class="w3-col s4">
    <br>
    <img src="http://127.0.0.1:/profilepic.jpg" class="w3-round" alt="profilepic" style="width:100px">
    </div>
       <div class="w3-col s8 w3-bar">
   			<p>Name : </p> <strong>Angel-Nepal</strong>
   			<p> Emergency Numbers : </p> <strong>98xxxxxxxx</strong> <br> <strong>98xxxxxxxx</strong> <br> <strong>98xxxxxxxx</strong><br>
   	   	</div>
  </div>

 <div class="w3-container w3-border w3-row" >
        <h5> Patient's Overview </h5>
        <table class="w3-table w3-striped w3-white">
          <tr>
            <th> Hospitals </th>
            <th> Doctor </th>
            <th> Illness</th>
          </tr>
           <tr>
            <td> Model Hospital </td>
            <td><i> Dr. Singh</i></td>
            <td> Migraine Headache </td>
          </tr>
          <tr>
            <td> Gandaki Hospital</td>
            <td><i>Dr. Parbati </i></td>
            <td> Peanuts Allergy </td>
          </tr>

          <tr>

            <td>Singer hospital</td>
            <td><i>Dr. Nepal</i></td>
            <td>Diabetes</td>
          </tr>
          <tr>

            <td>Health Care hospital</td>
            <td><i>Dr. Dahal</i></td>
            <td>thyroid</td>
          </tr>

          <tr>
            <td>Health Care hospital</td>
            <td><i>Dr. oli</i></td>
            <td>thyroid</td>
        </table>
      </div>
    </div>
  </div>
 </body>
 </html>